.wraper {

    .panel {
        display: flex;
        gap: 15px;    
        justify-content: center;
    }
    .sort {
        display: flex;
        justify-content: space-between;
        margin: 20px;
        gap: 15px;

    }
    .card {
        margin: 10px;
    }
}
.button {
    background-color:#44c767;
    border-radius:20px;
    border:2px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    padding: 13px 30px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;

    &:hover {
        background-color:#5cbf2a;
    }
    &:active {
        position:relative;
        top:1px;
    }
}

