<div class="wraper">
    <div class="panel">
        <app-button
        [text]="'Добавить заметку'" 
        routerLink="note"
        >  </app-button>
    </div>
    <div class="sort">
        <app-button
        [text]="'Сортировка по заголовку'"
        (click)="sortByTitle()"
        >
        </app-button>
        <app-button
        [text]="'Сортировка по дате'"
        (click)="sortByDate()"
        >
        </app-button>
    </div>
    <div *ngFor="let note of notes$ | async" class="card">
        <app-note-card
        [title]="note.title"
        [date]="note.date"
        [text]="note.text"
        (delete)="deleteNote(note)"
        (show)="showNote(note)"
        ></app-note-card>
    </div>
    <app-modal
    [title]="noteTitle"
    [text]="noteText"
    [date]="noteDate"
    [isOpen] = "modalService.isOpen$ | async" (close)="closeNote()"
    >
    </app-modal>
</div>
