<div class="wraper">
    <div class="panel">
        <button routerLink="note" class="add button"> Добавить заметку</button>
    </div>
    <div class="sort">
        <button (click)="sortByTitle()" class="button">Сортировка по заголовку</button>
        <button (click)="sortByDate()" class="button">Сортировка по дате</button>
    </div>
    <div *ngFor="let note of notes$ | async" class="card">
        <app-note-card
        [title]="note.title"
        [date]="note.date"
        [text]="note.text"
        (delete)="deleteNote(note)"
        (show)="showNote(note)"
        ></app-note-card>
    </div>
    <app-modal
    [title]="noteTitle"
    [text]="noteText"
    [date]="noteDate"
    [isOpen] = "modalService.isOpen$ | async" (close)="closeNote()"
    >
    </app-modal>
</div>
