
<div class="wraper">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <div>
            <label>Заголовок</label><br>
            <input formControlName="title" class="title">
        </div>
        <div>
            <label>Текст</label><br>
            <textarea formControlName="text" class="textarea">
            </textarea>
        </div>
        <app-button
        [text]="'Сохранить'"
        >
        </app-button>
        <!-- <button type="submit" class="button">Сохранить</button> -->
    </form>
</div>
